@font-face {
    font-family: 'ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf)
}

:root{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: 'ubuntu';
}

*, *::after, *::before{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #004199, #1b478c, #2c4c7f, #3a5071, #475263, #545454);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6,
.navbar-brand,
.display-1, .display-2, .display-3, .display-4,
.btn, .nav-link {
    font-family: 'ubuntu', serif;
    font-weight: 900;
}

header{
    min-height: 100px;
    background-color: palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main{
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: #333;
    color: white;
    min-height: 100px;
}

/* dropdown CSS */

div.dropdown{
    display: none;
    height: fit-content;
    max-height: 250px;
    overflow: auto;
    background-color: #f0f0f0;
    width: 250px;
}

div.dropdown.visible{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-menu button {
    width: 250px;
    position: relative;
    text-align: left;
}

.dropdown-menu button::after{
    content: "▼";
    position: relative;
    color: black;
    left: 122px;
}

.dropdown-menu button.clicked::after{
    content: "▲";
}

div.dropdown{
    position: absolute;
    border: 1px solid grey;
    border-bottom: none;
    border-radius: 5px;
    z-index: 1;
}

div.dropdown > *{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 2px solid rgb(146, 146, 146);
    width: 100%;
}

div.dropdown > *:last-of-type{
    border-bottom: none;
}

div.dropdown > *:hover{
    background-color: rgba(0, 0, 0, 0.068);
}

/* Image carousel CSS */

.image-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    font-size: 3rem;
    font-weight: 900;
}

.images-container{
    display: flex;
    width: 370px;
    overflow: hidden;
    z-index: 0;
}

.images-container > img{
    height: 250px;
    width: 370px;
}

.navigation-dots-container {
    display: flex;
}

/* Form validation CSS */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input:valid, select:valid{
    outline: 2px solid green;
}

input:invalid, select:invalid{
    outline: 2px solid red;
}

span {
    color: red;
}




